body
{
  background-color: #A0C2EB;
  text-align: left;
}
h1
{
  /*background-color: BurlyWood;*/
  color: #FAFCFF;
  background-color: #75A1D6;
  padding: 50px;
  margin: 0px 0px 30px 0px;
  text-align: center;
  border: 3px solid #4F7FB8;
  font-size: 60px;
}
#section1, #section2, #section3
{
  background-color: #CEE1F9;
  padding: 20px;
  margin: 0px 0px 2px 0px;
  border: 3px solid #4F7FB8;
}
#section1
{
  width: 45%;
  float: left;
}
#section2
{
  width: 45%;
  float: right;
  margin-left: 2px;
}
#section3
{
  float: left;
  width: 45%;
}
h2
{
  /*background-color: BurlyWood;*/
  color: #FAFCFF;
  text-align: left;
  margin: 0px 0px 20px 0px;
}
