body
{
  background-color: Cornsilk;
  text-align: left;
}
h1
{
  /*background-color: BurlyWood;*/
  color: red;
  text-align: center;
}
h2
{
  /*background-color: BurlyWood;*/
  color: red;
  text-align: left;
}
